# Titanic

In [1]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn import preprocessing

In [2]:
tit_train = pd.read_csv('train.csv')
tit_train['Age'].mean()

32.69985376827896

In [3]:
tit_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
new_age = np.where(tit_train['Age'].isnull(), 32, tit_train['Age'])
tit_train['Age'] = new_age

In [5]:
le = preprocessing.LabelEncoder()
tit_train['Sex'] = le.fit_transform(tit_train['Sex'])

In [6]:
tit_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S

In [7]:
features = pd.DataFrame([tit_train['Age'], tit_train['Sex'], tit_train['Fare']]).T
tree_m = tree.DecisionTreeClassifier(max_depth=6, max_leaf_nodes=12)

In [8]:
tree_m.fit(X = features, y = tit_train['Survived'])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=6, max_features=None, max_leaf_nodes=12,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [9]:
with open('DTree.dot', 'w') as f:
    f = tree.export_graphviz(tree_m, feature_names=['Age', 'Gender', 'Fare'], out_file=f);

In [10]:
tree_m.score(X = features, y = tit_train['Survived'])

0.8110236220472441

In [11]:
tit_test = pd.read_csv('test.csv')
tit_test['Age'].mean()

33.23741007194245

In [12]:
new_age_v = np.where(tit_test['Age'].isnull, 33, tit_test['Age'])
tit_test['Age'] = new_age_v

In [13]:
tit_test['Sex'] = le.fit_transform(tit_test['Sex'])

In [14]:
test_features = pd.DataFrame([tit_test['Age'], tit_test['Sex'], tit_test['Fare']]).T
test_pred = tree_m.predict(X = test_features)

In [15]:
Pred_op = pd.DataFrame({'PassengerID':tit_test['PassengerId'], "Survived":test_pred})

In [16]:
Pred_op.to_csv('Output.csv', index = False)