In [2]:
import pandas as pd
from sklearn import tree
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier
import numpy as np

In [3]:
df = pd.read_excel('Bank_Personal_Loan_Modelling.xlsx', sheet_name=1)

In [30]:
df.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [32]:
df['CCAvg'] = np.round(df['CCAvg'])
df.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,2.0,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,2.0,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,3.0,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

## Random Forest

In [33]:
rf_model = RandomForestClassifier(n_estimators=1000, max_features=2, oob_score=True)

In [34]:
features = ['Age', 'Experience', 'Income', 'Family', 'CCAvg', 'Education', 'Mortgage', 'Securities Account',
            'CD Account', 'Online', 'CreditCard']

In [35]:
rf_model.fit(X=df[features], y = df['Personal Loan'])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [39]:
print('OOB Accuracy:')
print(rf_model.oob_score_*100, '%')

OOB Accuracy:
98.61999999999999 %

In [37]:
for feature, imp in zip(features, rf_model.feature_importances_):
    print(feature, imp)

Age 0.05097687139750547
Experience 0.051251743495147245
Income 0.35668342261537633
Family 0.10090208771086492
CCAvg 0.1435962294100109
Education 0.16422644909425727
Mortgage 0.048619493077531085
Securities Account 0.006449190370920373
CD Account 0.05677822115492938
Online 0.009582828646432926
CreditCard 0.010933463027024113

Now taking DV - Personal Loan and IDV - Income, CCAvg and Education

## Decision Tree

In [41]:
tree_model = tree.DecisionTreeClassifier(max_depth=6, max_leaf_nodes=12)

In [42]:
pred = pd.DataFrame([df['Education'], df['CCAvg'], df['Income']]).T
tree_model.fit(X = pred, y = df['Personal Loan'])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=6, max_features=None, max_leaf_nodes=12,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [43]:
with open ('DtreeBL.dot', 'w') as f:
    f = tree.export_graphviz(tree_model, feature_names=['Education', 'CCAvg', 'Income'], out_file=f);