# Question 1 :
Write a Python program to find the first 20 non-even prime natural numbers.

In [14]:
import sympy
prime_no = list(sympy.primerange(0, 75))
for i in prime_no:
    if i%2!=0:
        print(i)

3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73

# Question 2 :
Write a Python program to implement 15 functions of string.

In [15]:
# 1. strip(): The strip() method removes any whitespace from the beginning or the end.
a = " Hello, World! "
print(a.strip())

Hello, World!

In [16]:
#2. lower(): The lower() method returns the string in lower case.
a = "Hello, World!"
print(a.lower())

hello, world!

In [17]:
#3. upper(): The upper() method returns the string in upper case.
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [18]:
#4. replace(): The replace() method replaces a string with another string.
a = "Hello, World!"
print(a.replace("W", "J"))

Hello, Jorld!

In [19]:
#5. split(): The split() method splits the string into substrings if it finds instances of the separator.
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [20]:
#6. isdigit(): 
txt = "50800"

x = txt.isdigit()

print(x)

True

In [21]:
#7. isidentifier():
txt = "Demo"

x = txt.isidentifier()

print(x)

True

In [22]:
#8. islower(): 
txt = "hello world!"

x = txt.islower()

print(x)

True

In [23]:
#9. isupper(): 
txt = "THIS IS NOW!"

x = txt.isupper()

print(x)

True

In [24]:
#10. isspace():
txt = "   "

x = txt.isspace()

print(x)

True

In [25]:
#11. istitle():
txt = "Hello, And Welcome To My World!"

x = txt.istitle()

print(x)

True

In [26]:
#12. isnumeric():
txt = "565543"

x = txt.isnumeric()

print(x)

True

In [27]:
#13. isprintable():
txt = "Hello! Are you #1?"

x = txt.isprintable()

print(x)

True

In [28]:
#14. isalnum():
txt = "Company12"

x = txt.isalnum()

print(x)

True

In [29]:
#15. isalpha():
txt = "CompanyX"

x = txt.isalpha()

print(x)

True

In [30]:
#16. isdecimal():
txt = "\u0033" #unicode for 3

x = txt.isdecimal()

print(x)

True

In [31]:
#17. capitalize():
txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

Hello, and welcome to my world.

In [32]:
#18. casefold():
txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

hello, and welcome to my world!

In [33]:
#19. center():
txt = "banana"

x = txt.center(20)

print(x)

       banana

In [34]:
#20. count():
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [35]:
#21. encode():
txt = "My name is St√•le"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [36]:
#22. endswith():
txt = "Hello, welcome to my world."

x = txt.endswith(".")

print(x)

True

In [37]:
#23. expandtabs():
txt = "H\te\tl\tl\to"

x =  txt.expandtabs(2)

print(x)

H e l l o

In [38]:
#24. find():
txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

In [39]:
#25. format():
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

In [40]:
#26. index(): 
txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

7

In [41]:
#27. rsplit():
txt = "apple, banana, cherry"

x = txt.rsplit(", ")

print(x)

['apple', 'banana', 'cherry']

In [42]:
#28. rstrip():
txt = "     banana     "

x = txt.rstrip()

print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

In [43]:
#29. splitlines():
txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

In [44]:
#30. startswith():
txt = "Hello, welcome to my world."

x = txt.startswith("Hello")

print(x)

True

In [45]:
#31. swapcase(): 
txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

hELLO mY nAME iS peter

In [46]:
#32. title():
txt = "Welcome to my world"

x = txt.title()

print(x)

Welcome To My World

In [47]:
#33. zfill(): 
txt = "50"

x = txt.zfill(10)

print(x)

0000000050

In [48]:
#34. partition():
txt = "I could eat bananas all day"

x = txt.partition("bananas")

print(x)

('I could eat ', 'bananas', ' all day')

In [49]:
#35. replace():
txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

In [50]:
#36. rfind():
txt = "Mi casa, su casa."

x = txt.rfind("casa")

print(x)

12

In [51]:
#37. rindex():
txt = "Mi casa, su casa."

x = txt.rindex("casa")

print(x)

12

In [52]:
#38. rjust():
txt = "banana"

x = txt.rjust(20)

print(x, "is my favorite fruit.")

              banana is my favorite fruit.

In [53]:
#39. rpartition(): 
txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("bananas")

print(x)

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

In [54]:
#40. join(): 
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [55]:
#41. ljust():
txt = "banana"

x = txt.ljust(20)

print(x, "is my favorite fruit.")

banana               is my favorite fruit.

In [56]:
#42. lstrip():
txt = "     banana     "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

# Question 3:
Write a Python program to check if the given string is a Palindrome or Anagram or None of them.
Display the message accordingly to the user.

In [20]:
def is_anagram(str1, str2):
    list_str1 = list(str1)
    list_str1.sort()
    list_str2 = list(str2)
    list_str2.sort()
    return (list_str1 == list_str2)
 
string = input("Enter first string to check whether it is a anagram: ")
string1 = input("Enter second string to check whether it is a anagram: ")
ana_check = is_anagram(string,string1)

pali_check = string==string[::-1]

if pali_check and ana_check:
    print("The entered string is a Palindrome as well as an Anagram.")
elif pali_check:
    print("The entered string is a Palindrome")
elif ana_check:
    print("The entered string is an Anagram")
else: 
    print("None of them")

Enter first string to check whether it is a anagram: wasitacatisaw
Enter second string to check whether it is a anagram: acatisawwasit
The entered string is a Palindrome as well as an Anagram.

# Question 4:
Write a Python's user defined function that removes all the additional characters from the string
and converts it finally to lower case using built-in lower(). eg: If the string is "Dr. Darshan Ingle
@AI-ML Trainer", then the output be "drdarshaningleaimltrainer".

In [13]:
def replace_char(z):
    invalid_list = ['!', '@', '#', '$', '%', '^', '&', '*', '(', ')', '-', '_', '+', ',', '.', '?', ':', ';', " "]
    for i in invalid_list:
        z = z.replace(i,'')
        z = z.lower()
    print("After removing all special characters from the string!")
    print("Resultant String is: ",z)
string = "Dr. Darshan Ingle @AI-ML Trainer."
print("The String is: ", string)
replace_char(string)

The String is:  Dr. Darshan Ingle @AI-ML Trainer.
After removing all special characters from the string!
Resultant String is:  drdarshaningleaimltrainer